.quick {
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease-in-out;
}

.cardHover:hover .quick {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.cardHover:hover .imgHover {
  transform: scale(1.1);
  transition: transform 0.5s linear;
  border-radius: 5rem;
}

.cartbtn:hover {
  background-color: #ffc107;
  transition: background-color 0.5s ease-in-out;
}
