.swiper-pagination-nine {
    position: absolute;
	bottom: 10px !important;
	left: 50% !important;
    transform: translateX(-50%);
	width: auto !important;
	margin: 0;
    z-index: 1000;
}
.swiper-pagination-nine .swiper-pagination-bullet {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	opacity: 1;
	background: rgb(255, 255, 255);
}
.swiper-pagination-nine .swiper-pagination-bullet-active {
	background: #000;
    width: 15px;
	height: 15px;
    border-radius: 25px;
    transition-duration: 500ms;
}