
  .navbarThree.openMenu {
	display: block;
	position: fixed;
	/* background: white; */
	width: 100%;
	z-index: 5;
    top: 0;
	backdrop-filter: blur(10px);
	animation: fadeIn 0.6s ease-in both;
  }

  /* MEDIA QUERY FOR SMALL DEVICE  */
@media only screen and (max-width: 600px) {
	.navbarThree.openMenu {
	  display: none;
	}
  }
  
  /* MEDIA QUERY FOR MEDIUM DEVICE  */
  @media only screen and (max-width: 768px) {
	.navbarThree.openMenu {
	  display: none;
	}
  }